#titulo {
    color: white;
    background-color: rgb(23, 159, 149);
    padding: 8px 20px 8px 20px;
    border: 0px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium';
    font-style: strong;
}

#titles {
    color: rgb(23, 159, 149);
    font-size: 35px;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
}

#img_temp {
    margin: 10px 0px 0px 0px;
}

img#inicio {
   float: left;
   width: 250px;
   height: 250px;
}

body {
    background-color: aliceblue;
}

.navbar {
    padding: 0%!important;
}

div.row {
    display: flex;
}

.col-8 {
    background-color: white;
    padding: 15px 15px 15px 15px;
    border: 40px 40px 40px 40px;
    box-shadow: 3px 3px 3px;
    margin: 40px 0px 40px 0px;
    border-radius: 10px 10px 10px 10px;
}

.col-3 {
    background-color: white;
    padding: 15px 15px 15px 15px;
    border: 40px 40px 40px 40px;
    box-shadow: 3px 3px 3px;
    margin: 40px 0px 40px 0px;
    border-radius: 10px 10px 10px 10px;
}

.col-12 {
    background-color: white;
    padding: 15px 15px 15px 15px;
    border: 40px 40px 40px 40px;
    box-shadow: 3px 3px 3px;
    margin: 40px 0px 40px 0px;
    border-radius: 10px 10px 10px 10px;
}

img {
    width: 100%;
    object-fit: cover;
}

.bouton-image:before {
    content: "";
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.monBouton:before {
    background-image: " ";
}

button {
    padding: 0px 0px 0px 0px!important;
    border-color: white!important;
}

.row {
    margin: 10px;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(83, 83, 83);
    color: white;
    text-align: center;
}

#comp {
    padding: 10px 10px 10px 10px;
    align-content: center!important;
}

#comp_text {
    text-align: center;
    color: rgb(23, 159, 149);
    font-family: 'Franklin Gothic Medium';
    font-style: strong;
    font-size: 25px;
    margin: 0px 0px 0px 0px;
}

h2 {
    color: rgb(23, 159, 149);
    font-family: 'Franklin Gothic Medium';
}

h1 {
    color: rgb(23, 159, 149);
    font-family: 'Franklin Gothic Medium';
}

th,
td {
    padding: 8px;
    text-align: left!important;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: rgb(23, 159, 149);
    color: white;
}

table {
    border: none!important;
    text-align: center;
}

#cabeza {
    background-color: rgb(23, 159, 149);
    color: white;
}

div#img_temp.col-6{
    padding: 0px;
}

@media (max-width: 992px) {

    div.row {
        display: inline-block;  
    }

    div.col-3 {
        max-width: 100%;

    }

    div.col-8 {
        max-width: 100%;
    }

    div.col-6 {
        max-width: 100%;
    }

    img#land {
        display: inline-block;
        max-width: auto;
        width: 150px;
        height: 150px;
    }

    div.container {
        padding: 0px;
    }

    div#img_temp.col-6 {
        padding: none;
        display: inline;
    }

    #img_temp {
        width: 200px;
        height: 200px;
    }


}
